@model Ticketer.Database.Ticket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Assigned)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Assigned.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.Name)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                <textarea disabled>
                    @Html.DisplayFor(model => model.Description)
                </textarea>
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Reply" asp-route-id="@Model.Id">Reply</a> |
    <a asp-action="Close" asp-route-id="@Model.Id">Close</a> |
    <a asp-action="Assign" asp-route-id="@Model.Id">Assign to...</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
