@model IEnumerable<Ticketer.Database.Ticket>
@using Ticketer.Models.Enums

<div class="row">
    <div class="col-sm-3 filters-list">
        <header class="filters-header">Lists</header>
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Tickets" asp-action="Index" asp-route-filter="@TicketFilters.Unassigned">
                    Unassigned
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Tickets" asp-action="Index" asp-route-filter="@TicketFilters.Open">
                    Opened
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Tickets" asp-action="Index" asp-route-filter="@TicketFilters.Closed">
                    Closed
                </a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Tickets" asp-action="Index" asp-route-filter="@TicketFilters.MyGroup">
                    For my group
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <table class="table spacing ticket-list">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assigned)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@item.State.ToString().ToLower()">
                        <td><input type="checkbox"></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assigned.UserName)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="DeleteConfirm" asp-route-id="@item.Id" data-target="#modal-container" data-toggle="modal">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>